<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= current_user && current_user.email %>
<%= user_signed_in? ? 'Logado' : 'Deslogado' %>

<br>
<%= link_to 'Entrar', user_session_path  %>
<br>

<%= link_to 'Todos os posts', posts_path %>
<br>
<%= link_to 'Tags', tags_path %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Texto</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do | post | %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.post_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
